<div class="header d-flex align-items-center justify-content-between">
  <div class="header-image">
    <img src="https://www.wilmu.edu/images/logos/wilmu-logo-color-350x92.svg" />
  </div>
  <div class="text-start w-80">
    <ul >
      <li class="text-capitalize">
        <a (click)="navigateToHome()">Home </a>
      </li>
      <li class="text-capitalize"><a (click)="navigateToStudent()">student</a></li>
      <li class="text-capitalize"><a (click)="navigateToStaff()">staff</a></li>
      <li class="text-capitalize"><a (click)="navigateToWilmu()">wilmu</a></li>
      <li class="text-capitalize">
        <a (click)="navigateToUniversity()">university</a>
      </li>
      <li class="text-capitalize"><a (click)="navigateToAccount()">Account</a></li>
      <li class="text-capitalize"><a (click)="navigateToNation()">Nation</a></li>
      <li class="text-capitalize"><a (click)="navigateToLogin()">Login</a></li>
    </ul>
  </div>
</div>
