<!-- <div class="column">
    <h2>wilmu details</h2>
  
    

   
    
</div>

 -->

<div class="detail-wrapper">
  <div class="heading-section">
    <h1>Wilmu Section</h1>
  </div>
  <div class="content-section">
    <div class="topnav">
      <button
        class="navigation-item"
        mat-raised-button
        (click)="navigateToAdmissions('sports')"
      >
        Sports
      </button>
      <button
        class="navigation-item"
        mat-raised-button
        (click)="navigateToAdmissions('admissions')"
      >
        Admissions
      </button>
      <button
        class="navigation-item"
        mat-raised-button
        (click)="navigateToAdmissions('opt')"
      >
        OPT
      </button>
      <button
        class="navigation-item"
        mat-raised-button
        (click)="navigateToAdmissions('cpt')"
      >
        CPT
      </button>
    </div>
  </div>
  <div class="child-section">
    <router-outlet></router-outlet>
  </div>
</div>
