.column {
  float: left;
  width: 25%;
  padding: 15px;
}
.topnav {
  display: flex;
  flex-direction: row;
}

.navigation-item {
  width: 20%;
  margin-left: 2%;
}

.navigation-item :first-child {
  margin-left: 0;
}

.child-section {
  margin-top: 2%;
}
