/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.detail-wrapper {
  padding: 2%;
}

.heading-section {
  display: flex;
}

.item-button {
  margin-left: 2%;
}

.item-button :first-child {
  margin-left: 0;
}
